<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Moja Strona</title>
    </head>
    <body>
        <div class="container">
            <div class="content">

            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>